.promo-donate {
    position: relative;
    margin-top: 76px;
    height: 390px;
    background: url(../../assets/images/Giant\ Panda.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $gradient-orange;
    opacity: 0.9;
    overflow: hidden;
}

#donate__h3 {
    padding-top: 40px;
    align-self: flex-start;
    width: 100%;
    font-weight: 400;
    color: white;
}

#donate__p1 {
    padding-top: 8px;
    align-self: flex-start;
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

#donate__h3-info {
    padding-top: 46px;
    color: #FE9013;
}

.donate__pick-feed {  
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin-top: 63px;
    margin-bottom: 180px;
}

.donate__pick-feed-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    padding-left: 90px;
    padding-right: 96px;
    padding-bottom: 64px;
    width: 100%;
}

#donate__pick-feed-h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
}

#donate__pick-feed-p1 {
    width: 100%;
    font-size: 24px;
    line-height: 120%;
    padding-top: 22px;
    text-align: start;
}

.panda-wrapper {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.panda-wrapper__text {
    padding-top: 40px;
    margin-left: 6px;
}

.panda__amount {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    line-height: 110%;
}

.x-icon {
    margin: 25px 0 0 12px;
}

.panda {
    margin: 0 15px 0 64px;
}

#donate__p2 {
    width: 100%;
    padding-top: 46px;
    padding-left: 6px;
}

.selector {
    margin-top: 18px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 27px;
    background: #404950;
}

.selector__line {
    position: absolute;
    height: 2px;
    background: #72828E;
    width: calc(100% - 50px);
    top: 12px;
    z-index: 0;
}
.selector__circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector__donate-amount {
    z-index: 3;
    appearance: none;
    background-color: #FFEE2E;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 0.2s all linear;
    cursor: pointer;
    
    &:checked{
        background-color: green;
    }
}

.selector__donate-amount:checked + .selector__circle-around-wrap{
    display: initial;
}    

.selector__circle-around-wrap {
    display: none;
    position: relative;
    top: -13px;
    right: 17px;
}

.selector__circle-around-1 {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #FE9013;
    border-radius: 16px;
    z-index: 5;
}

.selector__circle-around-2 {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 2px solid #FE9013;
    border-radius: 32px;
    z-index: 5;
    right: -34px;
    bottom: -33px;

    &:hover{
        cursor: pointer;
    }
}

.selector-labels {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    gap: 5px;
    margin-right: 70px;
}

.selector-labels__money {
    position: relative;
}

.selector-labels__money{
    position: absolute;
    bottom: -48px;
    padding-top: 50px;

    &:hover {
        color: #E47209;
        cursor:pointer;
    }

    &:checked {
        color: #E47209;
    }
}

.form-donate {
    display: flex;
    flex-direction: column;
}

.input-wrap {
    position: relative;
    margin-top: 36px;
}

.input-wrap__dollar {
    position: absolute;
    right: 22px;
    bottom: 18px;
}

.input-wrap__amount {
    margin-top: 60px;
    margin-left: 26px;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 16px 9px;
    background-color: transparent;
}
.radio-wrap {
    margin-top: 27px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.radio-wrap__button {
    z-index: 3;
    appearance: none;
    border-radius: 50%;
    border: 1px solid #FE9013;
    width: 16px;
    height: 16px;
    transition: 0.2s all linear;
    margin-right: 10px;

    &:checked {
        background-color: $color-additional;
        border: none;
    }
}

.radio-mothly {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 22px;
}

.radio-once {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 30px;
}

.button_rounded {
    width: 298px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-image: $color-primary;
}

.button_donate {
    margin-top: 27px;
    margin-left: 12px;
}

#donate-p3 {
    margin-top: 29px;
    padding-left: 8px;
    color: #333B41;
    align-self: center;
}

.button_round_square {
    width: 298px;
    height: 54px;
    background-image: $color-primary;
    border-radius: 5px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

.button_round_square:hover {
    background: $color-primary-hover;
}

@media (max-width: 1000px) {
    .promo-donate {
        background-image: url(../../assets/images/big_panda.png);
        margin-top: 80px;
    }

    #donate__h3 {
        width: 90%;
    }

    #donate__p1 {
        padding-top: 28px;
    }

    .donate__pick-feed {
        margin-top: 40px;
        margin-bottom: 31px;
    }

    .donate__pick-feed-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 46px;
        padding-right: 50px;
        padding-bottom: 46px;
        width: 100%;
    }
    
    #select__1 {
        display: none;
    }
    
    #donate__pick-feed-p1 {
        width: 100%;
        font-size: 24px;
        line-height: 120%;
        padding-top: 12px;
        text-align: start;
    }

    #donate__p2 {
        padding-left: 20px;
    }

    .selector {
        width: 96%;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 12px;
    }

    .selector-labels {
        width: 93%;
        margin-right: 30px;
    }

    .input-wrap {
        position: relative;
        margin-top: 38px;
    }    

    .input-wrap__dollar {
        right: 30px;
    }

    .button_donate {
        margin-left: 10px;
        margin-right: 2px;
    }
}

@media (max-width: 760px) {
    .promo-donate {
        margin-top: 33px;
        height: 337px;
    }

    #donate__h3 {
        width: 100%;
        font-size: 2.4rem;
        padding-top: 28px;
    }

    #donate__p1 {
        padding-top: 14px;
    }

    #donate__h3-info {
        padding-top: 30px;
    }

    .donate__pick-feed {
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .donate__pick-feed-wrap {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
    }

    #donate__pick-feed-p1 {
        padding-top: 20px;
        text-align: center;
    }
    
    #select__1 {
        display: none;
    }

    #select__2 {
        display: none;
    }

    #select__3 {
        display: none;
    }

    .panda-wrapper {
        padding-top: 50px;
    }

    .panda-wrapper__text {
        margin-left: 2px;
    }

    #donate__p2 {
        padding-top: 40px;
        padding-left: 10px;
    }

    .selector {
        width: 100%;
        margin-top: 9px;
        margin-left: 0px;
        padding-left: 36px;
        padding-right: 35px;
    }

    .selector__line {
        width: calc(100% - 77px);
    }

    .selector-labels {
        width: 87%;
        margin-right: 53px;
    }

    .form-donate {
        align-items: center;
    }

    .input-wrap {
        width: 60%;
    }

    .input-wrap__amount {
        width: 100%;
        height: 42px;
        padding: 16px 5px;
        margin-left: 0;
    }

    .input-wrap__dollar {
        right: 11px;
        bottom: 11px;
    }

    .radio-wrap {
        width: 100%;
        margin-top: 30px;
    }

    .radio-mothly {
        display: flex;
        align-items: center;
        margin-left: 32px;
    }

    .radio-once {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .radio-wrap__button {
        margin-right: 10px;
    }

    .button_donate {
        margin-top: 28px;
        margin-left: 6px;
    }

    #donate-p3 {
        padding-left: 2px;
    }
}

@media (max-width: 590px) {
    .promo-donate {
        width: 108%;
        margin-top: 33px;
        height: 188px;
    }

    #donate__p1 {
        line-height: 139%;
    }

    #donate__h3-info {
        padding-top: 27px;
        font-size: 2.4rem;
    }

    .donate__pick-feed {
        margin-top: 30px;
        margin-bottom: 48px;
    }

    #donate__pick-feed-h2 {
        font-size: 2.4rem;
    }

    #donate__pick-feed-p1 {
        font-size: 1.6rem;
        padding-top: 10px;
        line-height: 130%;
    }

    .donate__pick-feed-wrap {
        padding-top: 20px;
    }

    .panda-wrapper {
        width: 100%;
        padding-top: 12px;
    }

    .panda-wrapper__text {
        padding-top: 30px;
        margin-right: 0px;
    }

    #panda__text {
        font-size: 0.9rem;
        padding-top: 10px;
    }

    .panda__amount {
        font-size: 4.1rem;
        line-height: 80%;
    }

    .x-icon {
        width: 8px;
        height: 8px;
        margin: 12px 22px 0 4px;
    }

    .panda {
        width: 164px;
        height: 139px;
        margin: 0 0px 0 6px;
        padding-left: 5px;
    }

    #donate__p2 {
        padding: 4px 0 0 0;
    }

    .selector {
        height: 13.5px;
        padding-left: 17px;
        padding-right: 17px;
        margin-top: 7px;
    }

    .selector__line {
        width: calc(100% - 35px);
        top: 6px;
    }

    .selector__donate-amount {
        width: 5px;
        height: 5px;
    }

    .selector__circle-around-wrap {
        top: 0;
        right: 0;
    }

    .selector__circle-around-1 {
        top: -5px;
        left: -8px;
        width: 11px;
        height: 11px;
        border: 1px solid #FE9013;
    }

    .selector__circle-around-2 {
        top: -10px;
        left: -13px;
        width: 20px;
        height: 20px;
        border: 1px solid #FE9013;
    }

    .selector-labels {
        width: 87%;
        margin-right: 24px;
    }

    .selector-labels__money {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        bottom: -26px;
    }

    .input-wrap__amount {
        margin-top: 14px;
    }

    .radio-wrap {
        margin-top: 23px
    }

    #donate-p3 {
        width: 101%;
    }

    .donate__pick-feed-wrap {
        padding-bottom: 20px;
    }

    .donate__pick-feed {
        margin-bottom: 19px;
    }
}