.testimonials {
    position: relative;
    overflow: hidden;
}

.layout-4-rows {
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-bottom: 180px;
}

// .testimonials__slider {
//     width: 100%;
//     height: fit-content;
//     padding-top: 48px;
//     padding-bottom: 24px;
//     overflow: hidden;
// }

.layout-4-column {
    // width: fit-content;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // gap: 30px;

    padding-top: 48px;
    padding-bottom: 24px;

    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: auto;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    &::-webkit-scrollbar {
        height: 8px;
        background: rgba(255, 255, 255, 0);
    }

    &::-webkit-scrollbar-track {
        margin: 10px 300px;
        height: 8px;
        background: #F1F3F2;
        border-radius: 4px;
        // border: 2px solid $gradient-pink;
    }

    &::-webkit-scrollbar-thumb {
        height: 8px;
        border-radius: 5px;
        background: #FE9013;
    }
}



.testimonials-h3 {
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}

.testimonials__card-border-wrap {
    width: 264px;
    height: 389px;
    background-image: $gradient-pink;
    padding: 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.testimonials__card {
    height: 99.9%;
    display: flex;
    flex-direction: column;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 13px 8px 16px;
}

.testimonials__card-title {
    display: flex;
    align-items: center;
}

.testimonials__card-title-text {
    display: flex;
    flex-direction: column;
}

.testimonials__card-title-text-local {
    display: flex;
}

.testimonials__name {
    padding-left: 10px;
    line-height: 120%;
    color: #000000;
}

.testimonials__location {
    padding-left: 10px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__time {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__desc {
    padding-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    overflow: hidden;
    text-overflow: clip;
}

// .testimonials__slider-border {
//     width: 599px;
//     height: 8px;
//     margin-left: 280px;
//     margin-bottom: 31px;
//     background-image: $gradient-pink;
//     padding: 1px;
//     border-radius: 5px;
// }



// .testimonials__slide {
//     width: 599px;
//     height: 6px;
//     background: #F1F3F2;
//     border-radius: 4px;

//     &::-webkit-slider-thumb {
//         // -webkit-appearance: none;
//         height: 8px;
//         width: 10px;
//         border-radius: 5px;
//         background: #FE9013;
//         transition: background .3s ease-in-out;
//     }

//     &::-moz-range-thumb {
//         height: 8px;
//         width: 50px;
//         border-radius: 5px;
//         background: #FE9013;
//         transition: background .3s ease-in-out;
//     }

//     &::-ms-thumb {
//         height: 8px;
//         width: 50px;
//         border-radius: 5px;
//         background: #FE9013;
//         transition: background .3s ease-in-out;
//     }

//     &::-webkit-slider-thumb:hover {
//         background: #FA6F32;
//     }

//     &::-moz-range-thumb:hover {
//         background: #FE9013;
//     }

//     &::-ms-thumb:hover {
//         background: #FE9013;
//     }

//     &::-webkit-slider-runnable-track {
//         box-shadow: none;
//         border: none;
//         background: transparent;
//     }

//     &::-moz-range-track {
//         box-shadow: none;
//         border: none;
//         background: transparent;
//     }

//     &::-ms-track {
//         box-shadow: none;
//         border: none;
//         background: transparent;
//     }
// }


// .testimonials__slider {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: $gradient-pink;
//     width: 599px;
//     height: 8px;
//     margin-left: 280px;
//     margin-bottom: 31px;
//     border-radius: 5px;
//     --slider-width: 25%;
// }

.section-carousel {
    height: fit-content;
}

.carousel-wrapper-container {

}







.button_round_square {
    width: 298px;
    height: 54px;
    background-image: $color-primary;
    border-radius: 5px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}

.button_round_square:hover {
    background: $color-primary-hover;
}

.button_round_square:active {
    background: $color-additional;
}

.testimonials__leaf {
    position: absolute;
    bottom: -132px;
    right: 0;
    z-index: -1;
}


@media (max-width: 1550px){
    .testimonials__leaf {        
        width: 198px;
        height: 327px;
        bottom: -87px;
    }
}

@media (max-width: 1160px) {
    .testimonials__card-border-wrap {
        width: 294px;
    }
    
    // .layout-4-rows>.testimonials__card-border-wrap:last-of-type {
    //     display: none;
    // }

    // #t-popup2 > .testimonials__card-border-wrap:last-of-type {
    //     display: block;
    // }

    .footer__leav {
        display: none;
    }
}

@media (max-width: 1000px) {
    .layout-4-rows {
        padding-top: 100px;
        padding-bottom: 141px;
    }

    .layout-4-column {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .testimonials__slider-border {
        width: 390px;
        height: 8px;
        margin: 21px 0 51px 268px;
    }

    .testimonials__slider {
        width: 390px;
    }

    .testimonials__slide {
        width: 75px;
    }
}

@media (max-width: 960px) {
    .layout-4-rows {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .layout-4-column {
        flex-direction: column;
        margin-bottom: 27px;
    }

    .testimonials__card-border-wrap {
        width: 600px;
        height: 109px;
        margin-bottom: 15px;
    }

    .testimonials__card-border-wrap:last-of-type {
        margin-bottom: 0;
    }

    .testimonials__slider-border {
        display: none;
    }

    .testimonials__card {
        padding: 15px 29px 8px 12px;
    }

    .testimonials__desc {
        padding-left: 5px;
    }

    .layout-4-rows .button_round_square {
        width: 240px;
        height: 54px;
    }

    .testimonials__button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .testimonials__leaf {
        width: 123px;
        height: 204px;
        bottom: -70px;
        right: -7px;
    }
}

@media (max-width: 640px) {
    .testimonials__card-border-wrap {
        width: 93.75vw;
    }
}

@media (max-width: 590px) {
    .testimonials__card-border-wrap {
        width: 299px;
    }

    .testimonials-h3 {
        font-size: 2.4rem;
    }

    .layout-4-rows {
        padding-top: 30px;
        padding-bottom: 59px;
    }

    .layout-4-column {
        padding-top: 15px;
        margin-bottom: 18px;
    }

    .testimonials__leaf {
        width: 71px;
        height: 110px;
        bottom: -46px;
        right: -14px;
        transform: rotate(-19deg);
    }
}